build.output.folder/
target/
lib/
classes/

*.class
*.asc
*.jar
*.zip
*.gz
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies


._.DS_Store
.DS_Store
.svn



